{% extends 'publish/navbar.html' %}
{% load static %}
{% block content %}


<div class="container">
  <img src="{{ certificate.photo.url|default_if_none:'#'  }}" alt="LaLALA" width="640px">
  <h1>{{ certificate.name }}</h1>
  <h2>{{ certificate.org }}</h2>
  <h1>{{ certificate.create_date}}</h1>
  
</div>
<div class="container">
  {% if user.is_superuser%}
    <a href="{% url 'certificate_delete' pk=certificate.pk %}"class='btn btn-primary'>Delete</a>
    <a href="{% url 'certificate_update' pk=certificate.pk %}"class='btn btn-primary'>Update</a>
  {% endif %}
</div>
{% endblock %}