{% extends 'publish/navbar.html' %}
{% load static %}
{% block content %}


<div class="container">
  <h1>{{ publish.name }}</h1><br>
  <h2>Descrição:</h2>
  <h3>{{ publish.description }}</h3><br>
  
  <h3>Desenvolvido por: <strong>{{ publish.author}}</strong></h3>
  <h4>Tecnologias utilizadas: {{ publish.tech }}</h4>
  <a class="nav-link" href="{{ publish.github }}"><i class="fab fa-github fa-lg"></i></a>
</div>
<br>
<div class="container-user">
  {% if user.is_superuser%}

    <a href="{% url 'publish_delete' pk=publish.pk %}"class='btn btn-primary'>Delete</a>
    <a href="{% url 'publish_update' pk=publish.pk %}"class='btn btn-primary'>Update</a>


  {% endif %}
</div>
{% endblock %}