{% extends 'publish/navbar.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h3>Me chamo Gabriel Asorey e gostaria compartilhar um pouco da minha historia!</h3>
    <br>
    <h5>Sou formado em Engenharia de Produção  desde 2017 e cursei 90% do MBA em gestão de projetos da USP-Esalq mas precisei trancar 
        durante o TCC</h5>
    <h5>Já tive uma micro empresa de alimentos por 2 anos durante o inicio da faculdade em 2013, e de 2015 à 2019/2 vinha me dedicando em empresas
        farmaceuticas multinacionais, sempre no departamento de garantia da qualidade!</p>
    <h5>Insatisfeito com o rumo que minha carreira estava tomando no dia 04 de Fevereiro de 2020 tomei a decisão de migrar para a área de 
        desenvolvimento,
        sempre fui apaixonado por técnologia mas, sempre encarei como algo que eu gostava de conhecer mas nunca havia pensado em trabalhar com isso.
    </h5>
    <h5>No mesmo dia iniciei um curso de Python da Udemy e poucas horas depois já havia sentido mais satisfação profissional do que nos ultimos
        anos todos!</h5>
    <h5>Então esse portifólio foi desenvolvido utilizando aquilo que aprendi sobre Django, HTML5, CSS3 e JavaScript durante meus estudos com 
        o objetivo
        de prover um acesso fácil aos projetos que desenvolvi e contribui durante minha carreira!
    </h5>
    <h5>Objetivo atual: Conseguir iniciar minha carreira profissional como desenvolvedor e utilizar tomo meu conhecimento para impactar positivamente
        na vida dos usuários, e me manter evoluindo!
    </h5>
            <button type="button" class="collapsible">Caracteristicas</button>
        <div class="content">
            <p>Em toda minha experiencia profissional algumas caracteristicas sempre apareceram como feedbacks positivos algumas delas são:</p>
            <p> <strong>Quick Learner</strong>: Minha primeira linha de código foi escrita dia 04 de fev de 2020 em python e esse portfolio foi finalizado dia 02 de abril de 2020</p>
            <p><strong>Adaptabilidade</strong>: Mesmo sendo formado em engenharia de produção sempre atuei como engenheiro da qualidade em industrias farmacêuticas, tive
                que me adaptar a um mundo que nunca me foi apresentado durante a formação
            </p>
            <p><strong>Self Mover</strong>: Logo no inicio da minha carreira por ter se iniciado em uma empresa de médio porte com poucos funcionários na qualidade, tive que
                tive que me adaptar a buscar a solução para os meus problemas de maneira independente, claro sempre tive suporte dos meus companheiros de equipe
                porém sempre busquei entender meu cenário e estudar o maximo sobre o assunto que era de minha responsabilidade </p>
            </div>
            <button type="button" class="collapsible">Experiencias Profissionais</button>
            <div class="content">
                <p>
                    <strong>Johnson & Johnson - Analista da Qualidade Junior 08/03/2018 à 16/05/2019</strong>
                    <p>Responsavel por:</p>
                    <p>
                        Realizar a analise estatística das reclamações referentes a Band-Aid e  Esparadrapo vindas do Estados Unidos e Canadá, realizando investigações e tratando de não-conformidades conforme fosse apresentado um numero representativo de reclamações, as analises eram realizadas através do MiniTab.
                        Elaborar e apresentar as métricas relacionadas ao atendimento dos parâmetros da qualidade trimestralmente e dar continuidade a tratativa de não-conformidades identificadas durante a reunião com a diretoria.
                        Realizar diariamente a liberação, movimentação, bloqueio de matérias-primas e produto acabado das fábricas de Band-Aid e Esparadrapo.</p>
                </p>
                <p>
                    <strong>URGO Brasil - Estagiário da Qualidade 08/02/2015 à 08/02/2017</strong>
                    <p>Responsavel por:</p>
                    <p>Coordenar e desenvolver um projeto responsável por reconstruir toda a estrutura de embalagem da principal linha de curativos da empresa “Curatec”.
                        Desenvolvi novas embalagens de transporte e consegui atender toda a linha com apenas 8 modelos enquanto anteriormente eram necessários 37 tipos de embalagens.
                        O material utilizado para embalagem primária também foi alterado dando possibilidade de extensão no prazo de validade e eliminando o defeito de “encapsulamento” do produto próximo ao final da validade.
                        Alteração no método de esterilização de radiação por cobalto-60 para feixe de eletrons. O projeto gerou um saving de 1 milhão de reais por ano, na época representava aproximadamente 2% do lucro da empresa.</p>
                </p>
                
            </div>
        
            
    
</div>
    

    {% endblock %}